doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Orvis Evans

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Orvis Evans
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Orvis
                        span.text-primary Evans
                    .subheading.mb-5
                        | Portland, OR · (919) 883-5015 ·
                        a(href='mailto:b.orvis@gmail.com') b.orvis@gmail.com
                    p.lead.mb-3
                        | Coming from a non-traditional developer background building apps and systems for large-scale art and entertainment, I solve complex technical problems.
                    p.lead.mb-3
                        | I built a drive-by-wire system for a 36,000lb raver Art Car. I developed a Python front end application to act as a wireless automation control hub for a 40 ft long autonomous roving light up water dragon in Macau. I developed a Node.js server that receives 3d animation files and translates the data into control instructions for a 10,000lb dancing toucan. My work is in 6 countries. I've represented employers overseas while training operators with language barriers, little technical knowledge, and multiple standards.
                    p.lead.mb-5
                        | It a time of Covid19, I'm focusing on digital work that can reach out through our collective isolation and make the world better.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/orvisevans/', target='blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/orvisevans/', target='blank')
                            i.fab.fa-github

            hr.m-0

            // Portfolio
            section#portfolio.resume-section
                .resume-section-content
                    h2.mb-3 Portfolio

                    h3.mb-5 Scratch-Built projects

                    .row.mb-5
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://oe-fcc-pinterest.herokuapp.com/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Pinterest-700x400.png'
                                        alt="Pinterest Clone"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://oe-fcc-pinterest.herokuapp.com/', target='_blank') Pinterest Clone
                                    p.card-text
                                        | Scratch-built Pinterest Clone with basic functionality and login via Twitter.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://codepen.io/orvis/full/jWRrXP', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Roguelike-700x400.png'
                                        alt="Roguelike Game"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://codepen.io/orvis/full/jWRrXP', target='_blank') Roguelike Game
                                    p.card-text
                                        | Scratch-built HTML / CSS / JS Roguelike game.

                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://codepen.io/orvis/full/ZQYXvV', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Pomodoro-700x400.png'
                                        alt="Pomodoro Clock"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://codepen.io/orvis/full/ZQYXvV', target='_blank') Pomodoro Clock
                                    p.card-text
                                        | Scratch-built HTML / CSS / JS Pomodoro clock.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://codepen.io/orvis/full/VeKoKw/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Markdown-700x400.png'
                                        alt="Markdown Previewer"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://codepen.io/orvis/full/VeKoKw/', target='_blank') Markdown Previewer
                                    p.card-text
                                        | Scratch-built HTML / CSS / JS Markdown Previewer.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://codepen.io/orvis/full/JjGOrNZ', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Drum_Machine-700x400.png'
                                        alt="Drum Machine"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://codepen.io/orvis/full/JjGOrNZ', target='_blank') Drum Machine
                                    p.card-text
                                        | Scratch-built HTML5 / JS / React Drum Machine.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='https://orvis-fcc-url-shortener.glitch.me/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Url_Shortener-700x400.png'
                                        alt="Url Shortener"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='https://orvis-fcc-url-shortener.glitch.me/', target='_blank') URL Shortener
                                    p.card-text
                                        | Scratch-built JS Microservice that shortens URLs.

                    h3.mb-5 Wordpress and Shopify Sites

                    .row.mb-5

                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='http://storyslamsingapore.com/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Story_Slam_Singapore-700x400.png'
                                        alt="Story Slam Singapore"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='http://storyslamsingapore.com', target='_blank') Story Slam Singapore
                                    p.card-text
                                        | Singapore's largest monthly recurring storytelling event. Managed Wordpress site with customized theme.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='http://amcustomdesigns.com/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/AMCustoms-700x400.png'
                                        alt="AM Customs"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='http://amcustomdesigns.com', target='_blank') AM Customs
                                    p.card-text
                                        | Shopify site with customized theme selling merch, parts and supplies for a maker's youtube channel.
                                        
                        .col-xl-4.col-md-6.portfolio-item.mb-3
                            .card.h100
                                a(href='http://invisiblespectrumstories.com/', target='_blank')
                                    img.card-img-top(
                                        src='assets/img/Invisible_Spectrum_Stories-700x400.png'
                                        alt="Invisible Spectrum Stories"
                                    )
                                .card-body
                                    h4.card-title
                                        a(href='http://invisiblespectrumstories.com', target='_blank') Invisible Spectrum Stories
                                    p.card-text
                                        | Storytelling series in Portland, OR focused on giving a voice to people of color. Managed Wordpress site with customized theme.
                                        
            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Developer
                            .subheading.mb-3 Freelance
                            p
                                | Created MERN stack Web Apps, Electron desktop applications, Python desktop applications, Wordpress and Shopify sites, and HTML/CSS templates for clients. 
                        .flex-shrink-0
                            span.text-primary 2017 - 2020
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Electro Mechanical Designer
                            .subheading.mb-3 Michael Curry Design
                            p
                                | Researched, designed, purchased, wired, developed, coded, and fabricated complex electronic systems and applications for large scale puppets, animatronics and lighting installations for Disney, Wynn, Universal Studios, Broadway, and others.
                        .flex-shrink-0
                            span.text-primary 2014 - 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Costume Supervisor
                            .subheading.mb-3 Universal Studios Singapore
                            p
                                | Oversaw a team of technical costume and puppetry maintenance personnel while creating electronic systems for tracking, accountability, and inventory management and ordering.
                        .flex-shrink-0
                            span.text-primary 2014 - 2014

            hr.m-0


            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Free Code Camp
                            .subheading.mb-3 Multiple Certifications
                            ul.fa-ul
                                li
                                    span.fa-li
                                        i.fas.fa-certificate
                                    a(
                                        href='https://www.freecodecamp.org/certification/orvisevans/front-end-libraries'
                                        target='_blank'
                                    ) Front-End Libraries 
                                li
                                    span.fa-li
                                        i.fas.fa-certificate
                                    a(
                                        href='https://www.freecodecamp.org/certification/orvisevans/javascript-algorithms-and-data-structures'
                                        target='_blank'
                                    ) Javascript Algorithms and Data Structures
                                li
                                    span.fa-li
                                        i.fas.fa-certificate
                                    a(
                                        href='https://www.freecodecamp.org/certification/orvisevans/legacy-front-end'
                                        target='_blank'
                                    ) Legacy Front-End
                                li
                                    span.fa-li
                                        i.fas.fa-certificate
                                    a(
                                        href='https://www.freecodecamp.org/certification/orvisevans/legacy-back-end'
                                        target='_blank'
                                    ) Legacy Back-End
                        .flex-shrink-0
                            span.text-primary 2017 - 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of North Carolina at Chapel Hill
                            .subheading.mb-3 Bachelor of the Arts - Dramatic Arts
                        .flex-shrink-0
                            span.text-primary 2006 - 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 North Carolina School of Science and Math
                            .subheading.mb-3 Science and Math Residential Magnet Program
                        .flex-shrink-0
                            span.text-primary 2004 - 2006

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-shopify
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-npm
                    //- .subheading.mb-3 Workflow
                    //- ul.fa-ul.mb-0
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Mobile-First, Responsive Design

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')